.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 202px 0 28px 80px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 80px;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__paragraph {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  padding: 0px 80px 0 80px;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__address {
  margin-top: 40px;
  margin-bottom: 0;
}
