.reservation {
  width: 100vw;
  max-width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
}

.reservation__title {
  text-align: center;
  padding: 100px 0 80px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
  border: none;
  padding: 0;
}

.reservation__form-terms {
  width: 250px;
  margin: 0 auto;
  border: none;
  padding: 0 0 120px 0;
}
